---
import Layout from "../layouts/Layout.astro";
import HeroVideoSlider from "../components/projects/HeroVideoSlider.jsx";
import Card from "../components/projects/Card";

const pageTitle = "Proyectos";
const cards = {
    width: "w-64",
    height: "h-64",
};
---

<Layout title={pageTitle}>
    <main>
        <!-- Sección de Hero Video Slider -->
        <HeroVideoSlider client:load />
    </main>

    <section class="space-1section">
        <div class="space-1section-center">
            <Card
                image="/images/image (1).jpg"
                title="Ejemplo de Card"
                description="Esta es una descripción de la tarjeta en Astro."
                moreInfo="texto ejemplar"
                className={cards.height}
            />
            <Card
                image="/images/image (1).jpg"
                title="Ejemplo de Card"
                description="Esta es una descripción de la tarjeta en Astro."
                moreInfo="texto ejemplar"
                className={cards.height}
            />
            <Card
                image="/images/image (1).jpg"
                title="Ejemplo de Card"
                description="Esta es una descripción de la tarjeta en Astro."
                moreInfo="texto ejemplar"
                className={cards.height}
            />
            <Card
                image="/images/image (1).jpg"
                title="Ejemplo de Card"
                description="Esta es una descripción de la tarjeta en Astro."
                moreInfo="texto ejemplar"
                className={cards.height}
            />
            <Card
                image="/images/image (1).jpg"
                title="Ejemplo de Card"
                description="Esta es una descripción de la tarjeta en Astro."
                moreInfo="texto ejemplar"
                className={cards.height}
            />
            <Card
                image="/images/image (1).jpg"
                title="Ejemplo de Card"
                description="Esta es una descripción de la tarjeta en Astro."
                moreInfo="texto ejemplar"
                className={cards.height}
            />
        </div>
    </section>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
    }
    .space-1section {
        height: auto;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .space-1section-center {
        width: 80%;
        height: auto;
        /* background-color: blanchedalmond; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px 20px;
        margin: 5em 0;
    }
    .space-1section-center-card {
        width: 20px;
        height: 20px;
    }
</style>
